body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.HomePage {
    height: 100vh;
    width: 100%;
    position: fixed;
    background-image: url('/src/background.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
}

.Navbar {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 250px;
    min-width: 250px;
    height: 100%;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    margin-right: 10px;
}

.Navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 5px;
}

.Navbar a:hover {
    background-color: #555;
    transform: scale(1.05);
}

.Navbar a.active {
    background-color: #333;
}

.Content {
    flex-grow: 1;
    padding: 20px;
    font-size: 16px;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
}

.Groups {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.GroupTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.GroupTitle h1 {
    margin: 0;
    font-size: 24px;
}

.GroupTitle button {
    width: 150px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #ff7f50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.GroupTitle button:hover {
    background-color: #ca442c;
}

.Template {
    display: flex;
    width: 90%;
    background-color: white;
    align-items: center;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.Template:hover {
    transform: scale(1.05);
}

.Template img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 10px;
}

.Template div {
    padding: 10px;
}


.FriendList {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23%);
    gap: 20px;
    transition: transform 0.3s;
}

.FriendBoxes {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    color: black;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s;
}

.FriendBoxes:hover {
    transform: scale(1.05);
}

.FriendBoxes img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 10px;
}

.AddFriendContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.AddFriendButton, .AddFriendForm button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin: 10px 0;
    font-size: 16px;
}

.AddFriendButton:hover, .AddFriendForm button:hover {
    background-color: #0056b3;
}

.AddFriendForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddFriendForm input {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.Activity {
    padding: 20px;
}

.Activity h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.TransactionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Transaction {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.TransactionDetails p {
    margin: 5px 0;
}

.Account {
    padding: 20px;
}

.Account h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.ProfileDetails, .ProfileForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileDetails p, .ProfileForm label {
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.ProfilePicture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.ProfileForm input, .ProfileForm textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
}

.ProfileForm textarea {
    resize: vertical;
}

.ProfileForm button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.ProfileForm button:hover {
    background-color: #0056b3;
}
